* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

input {
    border: 0px;
}

li {
    list-style: none;
}

.oboxtop {
    height: 80px;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.top-nav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: #fff;
    z-index: 9999;
}

.top-nav a {
    font-size: 12px;
}

.top-nav a:hover {
    opacity: 0.8;
}

.logo {
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
}

.logo .img {
    height: 80px;
    display: block;
}

.nav-right {
    padding-left: 80px;
    width: 1439px;
    height: 100%;
}

.on-nav {
    width: 1439px;
    height: 40px;
    background: #222;
}

.the-left {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-left a {
    padding: 0 22px;
    height: 40px;
    line-height: 40px;
}

.the-left .one {
    background: white;
    color: black;
}

.the-right {
    width: 505px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.the-right img {
    width: 20px;
    height: 20px;
}

.the-right .car {
    position: relative;
    width: 90px;
    height: 40px;
    background: white;
    text-align: center;
    line-height: 46px;
}


/* 购物车隐藏盒子 */

.s-box {
    width: 300px;
    height: 580px;
    position: fixed;
    right: 0;
    background: #f7f7f7;
    top: 40px;
    z-index: 2;
    display: none;
}

.s-box i {
    font-style: normal
}

.s-box .picbox img {
    width: 100%;
    height: 100%;
}

.s-box.picbox {
    display: none;
    width: 80px;
    height: 80px;
    border: 1px solid #e5e5e5;
    box-sizing: content-box;
}

.s-box .check {
    width: 86%;
    margin: 10px auto;
    text-align: center;
    clear: both;
    background: #e40012;
    color: #fff;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

.s-box p {
    display: block;
    width: 90%;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
    color: #767676;
}

.s-box .closebtn {
    border: 1px solid black;
    color: #767676;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    background-size: 100%;
    text-align: center;
    line-height: 14px;
}

.the-right .car .yuan {
    height: 15px;
    line-height: 14px;
    padding: 1px 4px 1px 4px;
    position: absolute;
    right: 16px;
    top: 4px;
    background: red;
}

.down-left {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.down-left a {
    color: black;
    font-size: 14px;
    padding: 10px 20px;
}

.active {
    opacity: 0.8;
    background: #f7f7f7;
}

.down-right {
    position: relative;
    margin-top: 13px;
    margin-left: 116px;
    float: left;
}

.down-right .top {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 3px;
    background: #e2e2e2;
}

.down-right .bottom {
    border: 0;
    height: 30px;
    line-height: 30px;
    outline: none;
    width: 400px;
    padding-left: 30px;
    color: #000;
    font-size: 14px;
    background: #e2e2e2;
}


/*二级菜单  */

.hideboxking {
    background: #f7f7f7;
    padding: 40px 0;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    display: none;
}

.hidebox {
    display: none;
}

.hidebox a {
    color: black;
}

.box-center {
    overflow: hidden;
    width: 1150px;
    margin: 0 auto;
}

.center {
    min-height: 260px;
    border-right: 1px solid #e5e5e5;
    margin-left: -1px;
    float: left;
    overflow: hidden;
    padding: 0 30px;
}

.ulwap {
    float: left;
    padding: 0 10px;
}

.ulwap .tis {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}

.ulwap li {
    margin: 10px 0;
}

.center1 li>* {
    font-size: 12px !important;
    text-align: left;
    height: auto;
    line-height: 14px;
    padding: 2px 0;
    color: #000;
}


/* 内容 */

.contain {
    width: 1070px;
    padding: 0 15px;
    margin: 50px auto;
}

.bigbox {
    width: 18%;
    float: left
}

.leftnav div {
    width: 172px;
    font-size: 16px;
}

.leftnav {
    width: 192px;
}

.n-product {
    margin: 10px 0;
    width: 172px;
}

.fa {
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: #cccccc;
    position: relative;
    width: 20px;
    z-index: 1;
    cursor: pointer;
}

.fa::before {
    content: '↓'
}

.list {
    margin: 10px 15px;
    font-size: 12px;
}

.clearfix h3 {
    font-size: 12px;
}


/* 商品 */

.contain-r {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.r-product {
    margin-top: 20px;
}

.filter-container {
    border: 1px solid #d3d3d3;
    margin-bottom: 10px;
}

.clearfix {
    background-color: #ddd;
    line-height: 2.83333;
    padding-left: 10px;
    padding-right: 10px;
}

.filter_selected {
    padding: 10px 22px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 14px;
}

.filter_selected p {
    font-size: 15px;
    font-weight: bolder;
}

.oBox {
    padding: 10px 22px;
    border-bottom: 1px solid #dfdfdf;
}

.oBox ul {
    display: flex;
}

.oBox ul span {
    padding: 0 20px;
}

.aa {
    border: 1px solid #000000;
    margin: -1px;
}

.oBox li {
    display: inline-block;
    cursor: pointer;
    padding: 0px 10px;
}

.oBox li span {
    color: #666;
    font-size: 14px
}


/* 选项卡 */

.xun {
    width: 100%;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.xun a {
    font-size: 15px;
    border: 1px solid #d3d3d3;
    display: inline-block;
    margin-right: 5px;
    background-color: #f3f3f3;
    color: #666;
}


/* 重点渲染 */

.product-list {
    margin-top: 22px;
}

.product-list li {
    padding: 15px;
    margin: 20px 0;
    width: 33.33%;
    float: left;
    text-align: center;
    box-sizing: border-box
}

.product-list ul {
    overflow: hidden;
}

.product-list li img {
    width: auto;
    height: auto;
    max-height: 215px;
    max-width: 215px;
    vertical-align: middle;
}

.product-list li span {
    margin: 0;
    padding: 10px 0 0;
    font-size: 14px;
    color: #000;
}

.product-list li p {
    font-size: 12px;
    font-weight: bold;
    color: #e72b1e;
    padding: 5px 0;
}


/* 按钮 */

.anniu {
    margin-left: 33%;
    clear: both;
    color: #999;
    padding: 5px 0px 5px 0px;
    font-size: 13px;
}

.anniu a {
    float: left;
    display: inline;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #333;
    background-color: #FFF;
    color: #333;
}


/* 客服 */


/* 客服 */

.imporant {
    width: 100%;
    margin-top: 30px;
    background: #f9f9f9;
    padding: 50px 0px;
}

.bigbox1 {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.phone {
    width: 470px;
    height: 142.275px;
    float: left;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.phone img {
    width: 70px;
    margin-bottom: 10px;
}

.phone .time {
    padding: 10px 0;
    color: #767676;
    font-size: 14px;
}

.phone h1 {
    text-align: center;
    margin: 0;
    word-spacing: 8px;
    letter-spacing: 2px;
    font-size: 14px;
    color: #767676;
}

.footerlogo {
    width: 470px;
    height: 123px;
}

.footerlogo img {
    width: 240px;
}


/* 尾部 */

.footers {
    width: 100%;
    height: 420px;
    background: #000;
}

.footer-c {
    width: 900px;
    margin: 0 auto;
    padding-top: 60px;
    color: #707070;
}

.footer-t {
    display: flex;
    margin: 0 auto;
    width: 900px;
    height: 216px;
    padding-bottom: 40px;
    border-bottom: 1px solid #707070;
}

.t-left {
    width: 200px;
    color: #707070;
}

.t-left li {
    width: 100px;
    padding: 20px 0;
    color: #767676;
    text-decoration: none;
    font-size: 12px;
}

.footer-ewm {
    float: left;
    width: 270px;
    height: 216px;
    /* background: #fff; */
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-ewm img {
    width: 95px;
    height: 95px;
}

.lei {
    display: flex;
    flex-direction: column
}

.xl-t {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #707070;
    border-radius: 25px;
    padding: 0 10px;
    color: #707070;
    text-align: center;
}


/* 固定定位 */

.f-box {
    position: fixed;
    top: 50%;
    right: 0;
    width: 60px;
    height: auto;
    z-index: 9;
    margin-top: 1%;
}

.f-box .f-top {
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    position: relative;
    margin-bottom: 1px;
}


/* 导航栏隐藏的盒子 */

#ewm-l {
    position: absolute;
    height: 186px;
    width: 156px;
    right: 61px;
    top: -63px;
    background: #333;
    opacity: 0.9;
    display: none;
}

#ewm-l div {
    width: 110px;
    margin: 0 auto;
    padding-top: 10px;
}

#ewm-l img {
    width: 100%;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 9px;
    display: block
}

#ewm-l p {
    margin: 0;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
}

.f-box .f-top .nav-top {
    height: 60px;
    width: 100%;
    line-height: 60px;
    position: relative;
    margin-bottom: 1px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav>div .nav-background {
    height: 60px;
    position: absolute;
    background: #000;
    width: 100%;
    top: 0;
}

.f-box .f-top span {
    border-radius: 6px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-box .f-top span img {
    width: 100%;
    height: 100%;
}

.f-box .f-top span a {
    width: 42px;
    height: 37px;
}